# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.gahkvlddwwuzcsnyojmt:Ksl8KlzYJYZsvN7H@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.gahkvlddwwuzcsnyojmt:Ksl8KlzYJYZsvN7H@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
VITE_SUPABASE_URL="https://your-project-ref.supabase.co"
VITE_SUPABASE_ANON_KEY="your-anon-key"
SUPABASE_SECRET_KEY="your-service-role-key"
PUBLIC_ONESIGNAL_APP_ID=abee508e-4ae5-4c08-af80-e7daf9099b5a
PUBLIC_ONESIGNAL_REST_API_KEY=os_v2_app_vpxfbdsk4vgarl4a47npscm3llwfxjbcnznesw4euvha7hk35ebcorusdwwzwecuf7qkumljccs26ol5xxk73a5jd3l23lm2ewmlxuq
PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyC0IHdnPJ42sJWE-8qRQ6XXa18Zj6-J92A
